.price-title,
.services-title {
  font-size: var(--xx-large);
  color: var(--blue-3);
}

.price-text,
.services-text {
  font-size: var(--large);
  color: var(--gray);
  margin: 1.6rem 0 4.2rem;
}

.hero-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero-bg-wrapper {
  position: absolute;
  width: 100%;
}

.hero-bg-svg {
  position: absolute;
  width: 0;
  height: 0;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: clamp(36rem, 52.3611%, 75.4rem);
  background-image: linear-gradient(
    180deg,
    #0099ff 45.31%,
    rgba(0, 194, 255, 0.65) 99.48%
  );
  background-size: contain;
  -webkit-clip-path: url(#hero-bg-clip-path);
  clip-path: url(#hero-bg-clip-path);
}

.nav-container {
  padding: 2.7rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: var(--x-large);
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease;
}

.logo:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 3.8rem;
}

.nav ul a {
  color: var(--white);
  font-size: var(--medium);
  font-weight: 600;
  position: relative;
}

.nav ul a::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.nav ul a:hover::before {
  transform: scaleX(1);
}

.hero-section {
  text-align: center;
}

.hero-title {
  font-size: var(--xxx-large);
  color: var(--white);
  margin-top: 0.8rem;
}

.hero-text {
  font-size: var(--large);
  color: var(--white);
  margin-top: 0.8rem;
}

.hero-btn-container {
  margin: 2.2rem 0 3.6rem;
}

.hero-btn {
  background-color: var(--white);
  display: inline-block;
  padding: 1rem 1.8rem;
  border-radius: 5rem;
  border: 1px solid var(--white);
  font-size: var(--medium);
  color: #0099ff;
  cursor: pointer;
  transition: 0.2s ease;
}

.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.hero-btn:active {
  transform: scale(0.98);
}

.hero-image-container {
  width: 100%;
  max-width: 74rem;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
}

.price-section {
  margin-top: 11.4rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 4.4rem;
}

.price-title .first-half {
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 5px 24px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: var(--white);
}

.card-header {
  padding: 3.8rem 0;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem 3rem 5.8rem;
}

.card-title {
  font-size: var(--xx-large);
  font-weight: 700;
  text-transform: uppercase;
}

.card-price-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  color: var(--gray);
}

.card-price {
  font-size: var(--xx-large);
  font-weight: 700;
}

.measure-per {
  display: flex;
  margin: 0 0.6rem;
} 

.measure-per span:first-child {
  font-size: var(--medium);
  font-weight: 700;
  justify-self: flex-end;
  margin-right: -0.4rem;
}

.measure-per span:last-child {
  font-size: var(--xx-large);
}

.card-price-project {
  font-size: var(--medium);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.card-project-list {
  margin: 1.2rem 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card-project {
  font-size: var(--medium);
}

.card-btn-container {
  margin-top: 0.6rem;
}

.card-btn {
  display: inline-block;
  padding: 0.8rem 2.2rem;
  border-radius: 13px;
}

.card-btn span {
  font-size: var(--medium);
  font-weight: 700;
}

.card-container .card:nth-of-type(odd) .card-header {
  background-image: linear-gradient(180deg, #227aff 0%, #5fd5fb 105.95%);
  color: var(--white);
  position: relative;
  overflow: hidden;
}

.card-container .card:nth-of-type(odd) .card-header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 1px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transform-origin: left top;
  transform: rotate(-5deg);
}

.card-container .card:nth-of-type(odd) .card-project-list {
  color: var(--blue-4);
}

.card-container .card:nth-of-type(odd) .card-btn {
  background-image: linear-gradient(
    103.01deg, 
    #0099ff 13.85%,
    #5fd5fb 52.9%,
    #0099ff 100%
    );
  background-size: 200%;
  background-position: left;
  color: var(--white);
  transition: background-position 0.4s ease;
}

.card-container .card:nth-of-type(odd) .card-btn:hover {
  background-position: right;
}

.card-container .card:nth-of-type(even) {
  background-image: linear-gradient(
    162.05deg,
    #227aff 30.09%,
    rgba(0, 194, 255, 0.65) 85.24%
  );
  color: var(--white);
}

.card-container .card:nth-of-type(even) .card-header {
  background-image: url('data:image/svg+xml;utf8,<svg width="326" height="135" viewBox="0 0 326 135" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 15C0 6.71572 6.71573 0 15 0H311C319.284 0 326 6.71573 326 15V110.064C326 110.064 266.5 135.464 163 134.994C59.5 134.523 0 110.064 0 110.064V15Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.card-container .card:nth-of-type(even) .card-header::before {
  position: absolute;
  content: '';
  top: -1px;
  left: -1px;
  right: -1px;
  background-color: var(--white);
  height: 40%;
  z-index: 1;
}

.card-container .card:nth-of-type(even) .card-header h3 {
  background-image: linear-gradient(
    180deg,
    rgba(34, 122, 255, 0.92) 1.04%,
    #4daae9 89.58%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  z-index: 2;
}

.card-container .card:nth-of-type(even) .card-price-container {
  color: var(--white);
}

.card-container .card:nth-of-type(even) .card-btn {
  background-color: var(--white);
  transition: 0.2s ease;
}

.card-container .card:nth-of-type(even) .card-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.card-container .card:nth-of-type(even) .card-btn span {
  background-image: linear-gradient(
    180deg,
    rgba(34, 122, 255, 0.92) 1.04%,
    #4daae9 89.58%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.services-section {
  margin: 11.4rem 0 12rem;
  text-align: center;
}

.services-title .first-half {
  font-weight: 700;
}

.services-items-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5.2rem;
}

.service-icon-container {
  background-image: linear-gradient(
    166.2deg,
    #227aff 28.97%,
    rgba(56, 208, 228, 0.73) 80.19%
  );
}

.service {
  max-width: 32.6rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.17);
  overflow: hidden;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.service-icon-container {
  max-width: 9rem;
  width: 100%;
  height: 9rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.service-icon-container img{
  width: 60%;
  max-width: 9rem;
}

.service-title {
  font-weight: 600;
  color: var(--blue-4);
  font-size: var(--medium);
}

.service-text {
  font-weight: 500;
  font-size: var(--x-small);
}

.contact-section {
  background: #227aff url("../images/contact-bg.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 7.2rem 0 14.8rem;
}

.contact-title {
  font-size: var(--xx-large);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  margin-bottom: 8.8rem;
}

.info-message-container {
  position: relative;
  max-width: 100.9rem;
  margin: 0 auto;
}

.info-container {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 33.3rem;
  width: 100%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 2.3rem 3.2rem;
  color: var(--white);
  background-color: var(--blue-3);
}

.info-title {
  display: block;
  margin-bottom: 2.4rem;
  font-size: var(--small);
  font-weight: 700;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.info-list li {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.info-list-image {
  align-self: flex-start;
  width: var(--medium);
}

.info-list-text {
  font-size: var(--x-small);
}

.info-social-container {
  margin-top: 5.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  align-items: center;
}

.info-social-container img {
  width: calc(var(--large) + 0.2rem);
}

.message-container {
  max-width: 82.4rem;
  width: 100%;
  margin-left: auto;
  padding: 6rem 7.8rem 6.4rem 23.4rem;
  background-color: var(--white);
}

.message-title {
  display: block;
  font-size: var(--medium);
  font-weight: 600;
  margin-bottom: 3.6rem;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, min(100%, 20.8rem));
  grid-template-rows: repeat(3, 1fr);
  gap: 3.2rem 9.6rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input-group.textarea {
  grid-row: 3;
  grid-column: 1/3;
  width: 100%;
}

.input-group label {
  font-size: var(--x-small);
  font-weight: 600;
  color: var(--blue-2);
} 

.input-group :is(input, textarea) {
  border: 0;
  border-bottom: 1.5px solid var(--gray);
  padding: 0.2rem 0.8rem;
  font-size: var(--xx-small);
}

.input-group :is(input, textarea)::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.input-group :is(input, textarea):focus {
  outline: none;
  border-bottom-color: green;

}

.input-group textarea {
  resize: none;
}

.form-btn-container {
  margin-top: 3rem;
}

.form-btn {
  background-color: #1472FF;
  font-size: var(--x-small);
  font-size: 500;
  color: var(--white);
  border-radius: 10px;
  border: 0;
  padding: 1rem 2.3rem;
  cursor: pointer;
}

.footer-first {
  padding: 4.2rem 0;
}

.footer-first .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-first .logo {
  color: var(--gray);
  margin-right: 10.9rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-title {
  color: var(--black);
  text-transform: uppercase;
  font-size: var(--small);
  font-weight: 500;
}

.about-text {
  max-width: 26.5rem;
  font-size: var(--x-small);
}

.footer-social {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  align-self: center;
}

.footer-social a {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 0.2rem;
}

.footer-social svg {
  width: var(--xx-large);
}

.footer-last {
  background-color: #4DAAE9;
  padding: 2.2rem;
  font-size: var(--small);
  color: var(--white);
}

.footer-last .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.privacy {
  margin: 0 4.2rem 0 auto;
}

:is(.privacy, .terms) a {
  color: var(--white);
  transition: opacity 0.2s ease;
}

:is(.privacy, .terms) a:hover {
  opacity: 0.6;
}